*{
  background-color: rgb(2, 2, 28);
  color: white;
}
header{
  position: relative;
  text-align: center;
  background-color: black;
}
header h1{
  background-color: black;
}
header h2{
  background-color: black;
}
header p{
  background-color: black;
}
body{
  padding-bottom: 10%;
}
#seriesImage{
  width: 100%;
}
#poster{
  width: 80%;
  height: 80%;
  position: relative;
  left: 10%;
  border: solid;
  border-color: maroon;
}
#seriesInfo{
  width: 80%;
  position: relative;
  left: 10%;
  top: 5%;
  background-color: rgb(38, 38, 65);
  font: white;
}
#describe{
  position: relative;
  width: 100%;
  background-color: rgb(38, 38, 65);
}
.infoParagraphs{
  background-color: rgb(38, 38, 65);
  font-size: large;
  text-align: center;
}
#seriesInfo b{
  background-color: rgb(38, 38, 65);
  color: black;
  font-size: 105%;
}
#seriesInfo i{
  background-color: rgb(38, 38, 65);
}
#seriesInfo h1{
  background-color: rgb(0, 0, 0);
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: maroon;
  border-bottom-style: dashed;
  border-bottom-color: maroon;
}
#hbo{
  width: 15%;
  height: 15%;
  padding-left: 0.2%;
  background-color: rgb(38, 38, 65);
}
#snButton{
  position: relative;
  width: 100%;
  background-color: maroon;
  height: auto;
  font-size: larger;
}
#seasons{
  position: relative;
  width: 100%;
  height: 575px;
  text-align: center;
  background-color: rgb(27, 27, 27);
}
.snDiv{
  width: 18%;
  height: auto;
  float: left;
  padding-left: 1.6%;
  background-color: rgb(27, 27, 27);
}
.snPoster{
  width: 80%;
  height: 80%;
}
p.snTag{
  background-color: rgb(27, 27, 27);
}
#castInfo{
  position: relative;
  left: 10%;
  width: 80%;
  height: auto;
}
#characterButton{
  font-size: 60%;
  border-bottom-style: solid;
  border-bottom-color: maroon;
}
#commentSection{
  position: relative;
  width: 80%;
  left: 10%;
}
#comment{
  position: relative;
  left: 5%;
  width: 70%;
  font-size: 130%;
}
#postComment{
  position: relative;
  left: 5%;
  width: 20%;
}
#castInfo{
  background-color: rgb(38, 38, 65);
  text-align: center;
}
#castInfo h1{
  color: maroon;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: black;
  border-bottom-style: dashed;
  border-bottom-color: maroon;
}
#castList{
  background-color: rgb(38, 38, 65);
  text-align: center;
  font-size: 170%;
}
#characterCard{
  padding-top: 5%;
  background-color: rgb(38, 38, 65) ;
}
#charImage{
  position: relative;
  height: auto;
  background-color: rgb(38, 38, 65);
}
#characterPicture{
  border-style: solid;
  border-color: maroon;
  border-width: 5px;
}
#charData{
  background-color: rgb(38, 38, 65) ;
  font-size: larger;
  padding-bottom: 1%;
}
#charData p{
  background-color: rgb(38, 38, 65) ;
}
#charData b{
  color: black;
  background-color: rgb(38, 38, 65) ;
}
#postComment{
  background-color: maroon;
  font-size: 130%;
}
